* {
    font: "Trebuchet MS", Helvetica, sans-serif;
}

.content {
    background: url("AkshayHomePic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .08em solid grey; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  font-weight: 400;
  font-size: 35px;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;

    background: grey;
    color: white;
    padding: 15px; 
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    transition: all 1s ease-in-out;
}

.typewriter:hover {
    transform: scale(1.1);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  10% { border-color: grey; }
}

@media only screen and (max-width: 1212px) {
    .typewriter h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 886px) {
    .typewriter h1 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 623px) {
    .typewriter h1 {
        font-size: 10px;
    }

    .content {
        background: url("AkshayHomePic2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .typewriter h1 {
        font-size: 7px;
    }

    .content {
        background: url("AkshayHomePic2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}