.content {
    background: url("AkshayHomePic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
}

.title {
    color: white;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family: 'Courier New', Courier, monospace;
}

.title > h1 {
    background: grey;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

@media only screen and (max-width: 1212px) {
    .title {
        font-size: 25px;
    }
}

@media only screen and (max-width: 886px) {
    .title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 623px) {
    .title {
        font-size: 10px;
    }

    .content {
        background: url("AkshayHomePic2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .title {
        font-size: 7px;
    }

    .content {
        background: url("AkshayHomePic2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}