.aboutpage {
    width: 100vw;
    height: 100vh; 
    background: lightgreen; 
}

@media only screen and (max-width: 1160px) {
    .fbPic, .honorsBadges {
        visibility: hidden;
    }

    .links {
        flex-flow: column nowrap;
        margin-bottom: 50px;
    }
}